# Supabase Configuration
# The full URL of your Supabase project (e.g., https://iunwfdzefyvwcvalhdzv.supabase.co)
SUPABASE_URL=
VITE_SUPABASE_URL=

# Your Supabase 'anon' 'public' API key
SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=

# Your Supabase 'service_role' 'secret' API key (Keep this secret!)
SUPABASE_SECRET_KEY=

# Other App Settings
GEMINI_API_KEY=
