GMAIL_PASS=ejpb xfvs khso pogn
GMAIL_USER=voyage@gmail.com
SUPABASE_PUBLISHABLE_KEY=hsb_publishable_occxU3PdoRkTxcY8sZgvPw_Aq1L7vkW
SUPABASE_SECRET_KEY=sb_secret_l-Oln6nMT8blHk4PkKO2FA_14gcim6B
SUPABASE_URL=https://mxvklsjrqbupamgxptom.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_occxU3PdoRkTxcY8sZgvPw_Aq1L7vkW
VITE_SUPABASE_URL=https://mxvklsjrqbupamgxptom.supabase.co
